.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #333;
    color: #fff;
  }
  
  .left {
    flex: 1;
  }
  
  .right {
    display: flex;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  /* Optional: Style for active link */
  nav a.active {
    color: #ffcc00; /* Change to your preferred active link color */
  }
  